<div class="container">
  
  <div class="row">
    <div class="col-md-12">
      <h1>Panel</h1>
      <hr>
      <h2>Your worlds</h2>
      
      <p ng-if="worlds.length == 0" class="text-danger">You aren't in a world yet.</p>
      
      <div ng-repeat="world in worlds">
        <a href="#!/play">Play on {{world.name}}</a>
      </div>

      <hr>
      
      <button class="btn btn-primary" data-toggle="modal" data-target="#select_world">Brave a new world</button>

<!-- Modal -->
<div class="modal fade" id="select_world" tabindex="-1" role="dialog" aria-labelledby="selectWorld">
  <div class="modal-dialog" role="document">
    
    <form action="POST">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Select a avaliable world</h4>
        </div>
        <div class="modal-body">
          <select class="form-control" ng-model="new_world_selected">
            <option ng-repeat="option in avaliable_worlds" value="{{option.id}}">{{option.name}}</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createWorld()">Save changes</button>
        </div>
      </div>

    </form>
    
  </div>
</div>
      
    </div>
    
  </div>
  
</div>