<div class="container-fluid">

    <div class="row">

        <div class="col-md-2 col-xs-2">
          <div class="row">
            <strong>City name:</strong> {{city.city_name}}
            <strong>Points:</strong> {{city.total_points}}
          </div>

          <div id="menu">
{{selected_building.level}}
              <div class="row" ng-if="selected_building.title !== null">
                <h4>Selected build: {{selected_building.title}}</h4>
                
                <img ng-src="{{selected_building.image}}">
                <p><strong>Build time:</strong> {{selected_building.build_time}}</p>
                <p><strong>Destruction time:</strong> {{selected_building.destruction_time}}</p>
                <p><strong>Wood cost:</strong> {{selected_building.cost_wood}}</p>
                <p><strong>Stone cost:</strong> {{selected_building.cost_stone}}</p>
                <p><strong>Iron cost:</strong> {{selected_building.cost_iron}}</p>
                <p>
                    <button class="btn btn-success" ng-if="selected_building.level == 1">Build</button>
                    <button class="btn btn-primary" ng-if="selected_building.level < 10">Update</button>
                    <button class="btn btn-danger">Destroy</button>
                </p>
                
            </div>
              
            <div class="row" ng-if="selected_build == undefined">
                <h4>Select one to build</h4>
                <div ng-repeat="(building_name, building) in buildings"> 
                    <div ng-repeat="(id, b) in building" ng-if="b.level == 1"> 
                        <img ng-src="{{b.image}}" ng-click="selectOneBuilding(b)">
                        <p>{{b.title}}</p>
                    </div>
                    
                </div>
                
            </div>              
            
          
          </div>
          
          
        </div>

        <div class="col-md-10 col-xs-10">
            
          <div class="row">
              <strong>Wood:</strong> {{city.amount_wood}}
              <strong>Stone:</strong> {{city.amount_stone}}
              <strong>Iron:</strong> {{city.amount_iron}}
          </div>
          <div class="row" ng-controller="gameCtrl">
            <p>{{autoUpdateTimer}}</p>
            <canvas width="2688" height="1344" id="terrain"></canvas>
            <canvas width="2688" height="1344" id="city"></canvas>
            <canvas width="2688" height="1344" id="buildings"></canvas>
          </div>
            
        </div>

    </div>
    
</div>