<div class="container-fluid">

    <div class="row">

        <div class="col-md-2 col-xs-2">
          <div class="row">
            <strong>City name:</strong> {{city.city_name}}
            <strong>Points:</strong> {{city.total_points}}
          </div>
          
          <div class="row">

            <div ng-repeat="(key, building) in buildings">
              <button type="button" class="btn btn-default" ng-click="$parent.selected_build = building[0]">{{ building[0].title }}</button>
            </div>

          </div>
          
          <hr>

          <div class="row">
            <h4>Selected build: {{selected_build.title}}</h4>
            <p><strong>Build time:</strong> {{selected_build.build_time}}</p>
            <p><strong>Destruction time:</strong> {{selected_build.destruction_time}}</p>
            <p><strong>Wood cost:</strong> {{selected_build.cost_wood}}</p>
            <p><strong>Stone cost:</strong> {{selected_build.cost_stone}}</p>
            <p><strong>Iron cost:</strong> {{selected_build.cost_iron}}</p>
          </div>
          
        </div>

        <div class="col-md-10 col-xs-10">
            
          <div class="row">
              <strong>Wood:</strong> {{city.amount_wood}}
              <strong>Stone:</strong> {{city.amount_stone}}
              <strong>Iron:</strong> {{city.amount_iron}}
          </div>
          <div class="row" ng-controller="PlayCtrl">
            <canvas width="1344" height="1344" style="border: 1px solid;" id="terrain"></canvas>
            <canvas width="1344" height="1344" style="border: 1px solid;" id="city"></canvas>
          </div>
            
        </div>

    </div>
    
</div>