#city, #terrain, #buildings {
    position: absolute;
    top: 20px;
    z-index: 1;
}

#menu {
    position: fixed;
    z-index: 2;
    width: 200px;
    padding-left: 10px;
    overflow: scroll;
    text-align: center;
}

